<div class="container py-5">

  <div class="row align-items-center">

    <div class="col-md-6 bg-light p-4 d-flex justify-content-center">
      <img src="{{product.image}}" class="img-fluid product-img">
    </div>

    <div class="col-md-6 px-4">
      <h1 class="display-5 fw-light">{{product.name}}</h1>
      <h3 class="text-primary my-3">${{product.price}}</h3>
      <p class="text-muted">{{product.description}}</p>

      <div class="d-flex align-items-center my-3">
        <span class="me-2 small">Số lượng</span>
        <button class="btn btn-outline-dark qty-btn" onclick="decrement()">-</button>


        <span id="qty" class="qty-display">1</span>
        <button class="btn btn-outline-dark qty-btn" onclick="increment()">+</button>

      </div>

      <!-- ADD TO CART -->
      <button class="btn btn-dark w-100 py-2" onclick="addToCart({{json product}})">
        Thêm vào giỏ hàng
      </button>

    </div>

  </div>

</div>
